.THIS .image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 3px;
}

.THIS .info-div {
    height: 25%;
}

.THIS .info-div1 {
    height: 12.5%;
}

.THIS .info-div2 {
    height: 12.5%;
}

.THIS .container {
    height: 30rem;
    font-size: 0.8rem;
}

.THIS .header {
    font-size: xx-large;
}

.THIS .bid-price {
    margin-right: 11rem;
}

.THIS .next-price {
    margin-right: 1rem;
}

.THIS .input-text {
    height: 2.5rem;
    border-radius: 4%;
}

.THIS .button {
    border-radius: 20px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}